@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

body {
    background-color: #003D65;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    >* {
        position: absolute;

        &.t {
            transform: translateX(-50%) !important;

            &-1 {
                left: 0;
                bottom: -1rem;
            }

            &-2 {
                left: 25%;
                bottom: -1.5rem;
            }

            &-3 {
                left: 50%;
                bottom: -2rem;
            }

            &-4 {
                left: 75%;
                bottom: -1.5rem;
            }

            &-5 {
                left: 100%;
                bottom: 3rem;
            }
        }

        &.snowman {
            right: 10rem;
            bottom: -2rem;

            img {
                animation: swing 10s linear 0s infinite;
            }
        }

        &.reindeer {
            right: -4.5rem;
            bottom: 10rem;

            img {
                animation: swing 10s linear 1s infinite;
            }
        }

        &.santa {
            right: -3rem;
            bottom: -3.5rem;

            img {
                animation: swing 10s linear 2s infinite;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

.card-slot {
    height: var(--slot-height);
    width: var(--slot-height);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-width: 0;
    background-image: radial-gradient(white 0%, white 50%, yellow 100%);

    &-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 120%;
        filter: saturate(2) drop-shadow(0 0 1rem rgba(yellow, .5));
        animation: spin 60s linear infinite;
    }

    &-body {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    ul {
        height: calc(var(--slot-height) / 2);
        font-size: calc(var(--slot-height) / 2);
        line-height: calc(var(--slot-height) / 2);
        position: relative;
        float: left;
        width: 100%;
        color: red;
        text-shadow: 0 0 .25rem rgba(black, .25);

        >li {
            transform: translateY(calc((var(--slot-height) / 2) / 2));

            &:nth-child(even) {
                color: green;
            }
        }
    }
}

.swal2 {
    &-popup {
        border-radius: 1rem;
    }

    &-text {
        margin-bottom: 0;
        font-size: 4em;
        font-weight: bold;
    }

    &-input {
        text-align: center;
    }

    &-confirm,
    &-confirm:hover,
    &-confirm:focus {
        font-weight: 700;
        background-color: red !important;
        color: white;
        box-shadow: 0 .5rem 0 darkred !important;
    }
}

.btn-spin {
    position: relative;
    font-weight: 700;
    background-color: red;
    color: white;
    box-shadow: 0 .5rem 0 darkred;

    &:hover,
    &:focus {
        color: white;
        box-shadow: 0 .1rem 0 darkred;
    }
}